caption {
  caption-side: top;
  font-weight: bold;
}

// changed background of table to blue
.table-dark {
  --bs-table-bg: #0d6efd;
}

.col-lg-8 {
  img {
    height: 100%;
  }
}

// Added spacing between columns items
@media (max-width: 768px) {
  section {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

// Custom CSS styles
.btn-light:hover {
  color: white;
  background: #333;
}

// .transition-img {
//   opacity: 0.5;
//   transition: opacity 1s;
// }

// .transition-img:hover {
//   opacity: 1;
// }

// multi-column layout for when the screen is desktop
@media (min-width: 990px) {
  .container1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
}

@media (max-width: 500px) {
  body {
    font-size: 0.8rem;
  }
}
